[submodule "lib/TaskScheduler"]
	path = lib/TaskScheduler
	url = https://github.com/selimkeles/TaskScheduler.git
[submodule "tests/Unity"]
	path = tests/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
